<mat-dialog-actions class="d-flex justify-content-end w-100">
  <button mat-button mat-dialog-close>
    <mat-icon>close</mat-icon>
    Close
  </button>
</mat-dialog-actions>

<mat-dialog-content>
  <div [style.background-image]="'url(' + data.backgroundImagePath + ')'"
       class="bg-image-fit p-0"
  >
    <div class="container w-100 h-100" [style.background-color]="data.backgroundColor">
      <div class="row my-5">
        <div class="col-md-6">
          <img [src]="data.iconPath" [title]="data.name" [alt]="data.name" style="width: 50%">
        </div>
        <div class="col-md-6">
          <h2 class="text-white text-header space-lines my-2">{{ data.name || '' | uppercase }}</h2>
          <h3 style="text-decoration: underline" class="text-white fw-bolder space-lines my-0">{{ data.descriptionTitle || '' | uppercase }}</h3>
          <h3 class="text-white"> {{ data.description || '' | titlecase }} </h3>
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>

