$default-color: #1F3C5C;
$second-color: #CC7E50;
.bg-default {
  background-color: $default-color !important;
}

.bg-image-fit {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  cursor: pointer;
}

.text-header {
  font-size: 2.5em;
  font-weight: bolder;
}

.hr {
  width: 50%;
  border: 5px solid $second-color;
  border-radius: 10px;
  margin: 20px auto;
}

.text-second-color {
  color: $second-color !important;
}

.space-lines {
  white-space: normal;
  line-height: 30pt;
  word-break: break-word;
  word-wrap: break-word;
}

.text-left {
  text-align: left !important;
}

.footer {
  background-color: $second-color !important;
  width: 100%;
  color: white !important;
  padding: 20px;
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 20px;
}
