$default-color: #1F3C5C;
$second-color: #CC7E50;
.bg-default {
  background-color: $default-color !important;
}

nav {
  z-index: 99999999999999;
}

.bg-image-fit {
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat;
  cursor: pointer;
}

.text-header {
  font-size: 30px;
  font-weight: bolder;
}

.hr {
  width: 50%;
  border: 5px solid $second-color;
  border-radius: 10px;
  margin: 20px auto;
}

.text-second-color {
  color: $second-color !important;
}

.bg-second-color {
  background-color: $second-color !important;
}

.tabs {
  background-color: $second-color !important;
  color: white !important;
  opacity: 100% !important;
  width: 120px;
  height: 6px;
  border: $second-color !important;
  border-radius: 10px;
}


.text-left {
  text-align: left !important;
}

.footer {
  background-color: $second-color !important;
  width: 100%;
  color: white !important;
  padding: 20px;
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  margin-top: 20px;
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  .space-lines {
    white-space: normal;
    line-height: 2em;
  }
  .space-lines-feature {
    white-space: normal;
    line-height: 1.5em;
  }
}
.nav-item a{
  color: lightblue ;
}
/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  .space-lines {
    white-space: normal;
    line-height: 1.5em;
  }
  .space-lines-feature {
    white-space: normal;
    line-height: 1em;
  }
}

.text-second-color {
  color: $second-color !important;
}

.bg-img {
  position: absolute;
  z-index: -1;
}

#board{
  img {
    width: 100%;
  }
  h2 {
    color: $second-color !important;
    margin-bottom: 0;
  }
  h3 {
    color: $default-color !important;
    margin-top: 0;
  }
}
.slide{
  background-color: white !important;
  border: 5px solid $second-color !important;
  border-radius: 10px !important;
  padding: 20px;
  cursor: pointer;
}
