<nav class="navbar w-100 position-fixed navbar-expand-lg bg-body-tertiary bg-default">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{{ asset('images/logo.png') }}" alt="logo" class="logo" width="100" height="24">
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon text-light"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto tex mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#about-us">About Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#service">Services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#why-choose-seascope">Why Choose SeaScope MENA</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#mission">Mission & Vision</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#founder">Founder</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#board">Advisory Board</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#contact-us">Contact Us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<header id="home">
  <video #video
         loop
         muted
         autoplay
         oncanplay="this.play()"
         onloadedmetadata="this.muted = true"
         playsinline
         preload="auto"
         data-wf-ignore="true"
         data-object-fit="cover"
         class="h-75 w-100"
  >
    <source src="{{ asset('video/intro.mp4') }}" type="video/mp4">
  </video>
</header>
<section id="about-us" class="overflow-x-hidden">
  <div class="row justify-content-center">
    <div class="col-12 d-flex align-items-center justify-content-center">
      <h1 class="text-white fw-bolder text-header space-lines">{{'about us' | uppercase}}</h1>
    </div>
    <div class="container">
      <p class="text-light mx-5 fs-5 mb-2 text-center space-lines">
        <b>At SeaScope MENA</b>, we are your trusted partner for achieving PR excellence and elevating your business to
        new
        heights. With a team of seasoned professionals and a commitment to delivering exceptional results, we have
        become the leading hub for PR and Business Excellence Consultancy in the MENA region. Our mission is simple yet
        profound – to empower businesses to thrive through strategic communication, reputation management, and
        operational excellence. We believe that every business has the potential for greatness, and our role is to
        unlock that potential.
      </p>
    </div>
  </div>
</section>
<div class="hr text-second-color"></div>
<section id="service" class="overflow-x-hidden">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 d-flex align-items-center p-4 justify-content-center">
      <h1 class="text-white fw-bolder text-header space-lines">{{'Key Differentiators' | uppercase}}</h1>
    </div>
    <ng-container *ngFor="let service of services">
      <div *ngIf="!!service?.image" class="col-lg-3 col-md-4 bg-image-fit p-5">
        <img [src]="service?.image" class="w-100 h-100" alt="">
      </div>
      <div
        *ngIf="!service?.image"
        [style.background-image]="'url(' + service?.backgroundImagePath + ')'"
        (click)="openModal(service)"
        class="col-lg-3 col-md-4 bg-image-fit p-0"
      >
        <div class="w-100 h-100" [style.background-color]="service?.backgroundColor">
          <div class=" p-5">
            <div class="row text-center my-5">
              <div class="col-12">
                <img [src]="service?.iconPath" [title]="service?.name" [alt]="service?.name" style="width: 50%">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h2 class="text-center text-white">{{ service?.name | uppercase }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>

<section id="why-choose-seascope" class="overflow-x-hidden position-relative">
  <div class="row p-5"
       style="
       background-image: url('assets/images/more-details-bg.jpg');
       background-attachment: fixed;
       background-repeat: no-repeat">
    <div class="col-lg-6 col-md-12 py-5">
      <h1
        class="text-white fw-bolder space-lines-feature" style="font-size: 4.5vw">{{'Why Choose SeaScope MENA ?'}}</h1>
      <p class="text-light fs-4 mb-2 space-lines">
        Proven Track Record: With a track record of success across various industries, we have a proven ability to
        deliver tangible results
      </p>
    </div>
    <img class="img-fluid d-none d-md-block"
         style=" position: absolute;
    bottom: 0;
    width: 100%;
    height: auto;
    right: 0;" src="assets/images/question-image.png">
  </div>
</section>
<div class="row p-0">
  <div class="col-lg-6 col-md-12 m-0 row justify-content-evenly align-items-center p-3 bg-light">
    <img class="img-fluid col-3" style="max-width: 100px" src="assets/images/Industry-Expertise.png">
    <p class="text-dark space-lines col-9 p-3">
      <b class="fs-4">Industry Expertise</b> <br/>
      <span class="fs-5">
        Our team consists of experts with deep industry knowledge, ensuring that our strategies are tailored to your
      specific needs
      </span>
    </p>
  </div>
  <div class="col-lg-6 col-md-12 m-0 row justify-content-evenly align-items-center p-3 bg-second-color">
    <img class="img-fluid col-3" style="max-width: 100px" src="assets/images/Innovation.png"
         alt="SeaScope MENA innovation">
    <p class="text-light space-lines col-9 p-3">
      <b class="fs-4">Innovation</b> <br/>
      <span class="fs-5">
        We stay at the forefront of industry trends and leverage cutting-edge tools and techniques to stay ahead of the competition
      </span>
    </p>
  </div>
  <div class="col-lg-6 col-md-12 m-0 row justify-content-evenly align-items-center p-3 bg-default">
    <img class="img-fluid col-3" style="max-width: 100px" src="assets/images/Client-Centric-Approach.png">
    <p class="text-light space-lines col-9 p-3">
      <b class="fs-4">Client-Centric Approach</b> <br/>
      <span class="fs-5">
 Your success is our priority. We work closely with you to understand your unique challenges and develop customized solutions</span>
    </p>
  </div>
  <div id="mission" class="col-lg-6 col-md-12 m-0 row justify-content-evenly align-items-center p-3 bg-light">
    <img class="img-fluid col-3" style="max-width: 100px" src="assets/images/mission.png">
    <p class="text-dark space-lines col-9 p-3">
      <b class="fs-4">Mission</b> <br/>
      <span class="fs-5">
        To be the catalyst for success, fostering growth and resilience in businesses through innovative communication and excellence strategies
      </span>
    </p>
  </div>
  <div class="col-lg-12 col-md-12 m-0 row justify-content-evenly align-items-center p-3 bg-second-color">
    <img class="img-fluid col-3" style="max-width: 100px" src="assets/images/vision.png">
    <p class="text-light space-lines col-9 p-3">
      <b class="fs-4">Vision</b> <br/>
      <span class="fs-5">
      Lead the industry, empower businesses, and make a lasting impact on the world of PR and business excellence consultancy
      </span>
    </p>
  </div>
</div>
<section id="founder" class="overflow-x-hidden mb-4"
         style="background-image: url('assets/images/message-bg.jpg'); background-attachment: fixed; background-repeat: no-repeat">
  <div class="row">
    <div class="col-lg-4 col-md-12">
      <img class="img-fluid" style="max-height: fit-content; width: 100% !important;" src="assets/images/effat.jpg"
           alt="message">
    </div>
    <div class="col-lg-8 col-md-12 py-5 container px-md-2 px-lg-5">
      <h1 class="text-white fw-bolder fs-2 space-lines container">{{'Message from the Founder' | uppercase}}</h1>
      <p class="text-light fs-5 flex-column d-flex container">
        <span class="mb-3">
          From our humble beginnings to the dynamic and influential consultancy firm we are today, our journey has been
        one of unwavering commitment to our mission: empowering businesses to thrive. We firmly believe that every
        business holds the potential for greatness, and it is our privilege to be the guiding force that unlocks that
        potential.
        Our team of seasoned professionals, with their deep industry knowledge and innovative thinking, stands as the
        backbone of SeaScope MENA. Together, we have forged a reputation for delivering tangible results, consistently
        exceeding expectations, and setting industry benchmarks.
        </span>
        <br>
        <span class="mb-3">
          We do not merely provide services; we cultivate partnerships. Your success is not just our business; it is our
        purpose. We work diligently to understand your unique challenges and craft bespoke solutions that drive growth
        and resilience. We are not content with the status quo; we are pioneers. We stay at the forefront of industry
        trends, leveraging cutting-edge tools and techniques to ensure that your business remains ahead of the curve in
        this ever-evolving world of communication and excellence.
        </span>
        <br>
        <span class="mb-3">
        Our vision is clear: to be the global standard-bearer for PR Strategy and Maritime Business Excellence
        Consultancy. We are here to help you navigate the complexities of the modern business landscape, to transform
        challenges into opportunities, and to turn dreams into realities.
        </span>
        <br>
        <span class="mb-3">
        Thank you for considering SeaScope MENA as your trusted partner. Together, let's embark on a journey of
        boundless possibilities, and let's redefine success, one milestone at a time.
          </span>
        <br>
        <span class="mb-3">
        With utmost gratitude and enthusiasm,
        </span>
        <br>
        <b><i>Dr.Effat Mostafa</i></b>
        Founder and General Manager
      </p>
    </div>
  </div>
</section>
<section id="board" class="row justify-content-center">
  <h1 class="text-center text-white fw-bolder my-5 fs-2 space-lines">{{'meet our advisory board' | uppercase}}</h1>
  <owl-carousel-o
    class="px-5" [options]="customOptions">
    <ng-template carouselSlide>
      <div (click)="openModalBoard(
      0 ,
      'Eng. Ahmed Sharaf' ,
      'CEO of Academy Company for Information & Communication Technology' , 'assets/images/founder-1.jpg')"
           class="slide m-auto">
        <img class="img-fluid"
             alt="Eng. Ahmed Sharaf , CEO of Academy Company for Information & Communication
                  Technology"
             src="assets/images/founder-1.jpg"/>
        <h2 class="text-light fst-italic fw-bolder">Eng. Ahmed Sharaf</h2>
        <h3 class="text-light text-truncate">CEO of Academy Company for Information & Communication
          Technology</h3>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div (click)="openModalBoard(
      1,
      'Capt. Rami Al Breiki' ,
      'Co-founder NEONAUTICA' , 'assets/images/founder-2.jpg')" class="slide m-auto">
        <img class="img-fluid" src="assets/images/founder-2.jpg"/>
        <h2 class="text-light fst-italic fw-bolder">
          Capt. Rami Al Breiki
        </h2>
        <h3 class="text-light">Co-founder NEONAUTICA</h3>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div (click)="openModalBoard(
      2,
      'Fazel A. Fazelbhoy' ,
      'CEO of Synergy Offshore' , 'assets/images/founder-3.jpg')" class="slide m-auto">
        <img src="assets/images/founder-3.jpg"/>
        <h2 class="text-light fst-italic fw-bolder">Fazel A. Fazelbhoy</h2>
        <h3 class="text-light">CEO of Synergy Offshore</h3>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div (click)="openModalBoard(
      3,
      'Jasmin Fichte' ,
      'Managing Partner at Fichte & Co Lawfirm, Dubai office' , 'assets/images/founder-4.jpeg')" class="slide m-auto">
        <img src="assets/images/founder-4.jpeg"/>
        <h2 class="text-light fst-italic fw-bolder">Jasmin Fichte</h2>
        <h3 class="text-light text-truncate">Managing Partner at Fichte & Co Lawfirm, Dubai office</h3>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div (click)="openModalBoard(
      4,
      'Danial Kaabi' ,
      'CEO Sea Horizon Offshore Marine Services l Delivering excellence in\n'+
'          maritime & offshore globally l Seatrade Maritime Club Ambassador, Qatar I YoungShip UAE Board I Entrepreneur\n'+
'          at core I Building successful businesses' , 'assets/images/founder-5.jpg')" class="slide m-auto">
        <img src="assets/images/founder-5.jpg"/>
        <h2 class="text-light fst-italic fw-bolder">Danial Kaabi</h2>
        <h3 class="text-light text-truncate">CEO Sea Horizon Offshore Marine Services l Delivering excellence in
          maritime & offshore globally l Seatrade Maritime Club Ambassador, Qatar I YoungShip UAE Board I Entrepreneur
          at core I Building successful businesses</h3>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div (click)="openModalBoard(
      5,
      'Capt. Mohamed Ajjan' ,
      'Fleet Manager OSV at Zakher Marine International' , 'assets/images/founder-6.png')" class="slide m-auto">
        <img src="assets/images/founder-6.png"/>
        <h2 class="text-light fst-italic fw-bolder">Mohamed Ajjan</h2>
        <h3 class="text-light text-truncate">Fleet Manager OSV at Zakher Marine International</h3>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div (click)="openModalBoard(
      6,
      'Lars Seistrup' ,
      'A marine engineer and degree in engineering by background' , 'assets/images/founder-7.png')"
           class="slide m-auto">
        <img src="assets/images/founder-7.png"/>
        <h2 class="text-light fst-italic fw-bolder">Lars Seistrup</h2>
        <h3 class="text-light text-truncate">A marine engineer and degree in engineering by background</h3>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div (click)="openModalBoard(
      7,
      'Karim Hasab El-Nabi Mohamed' ,
      'COO, Allianz Stanford Marine' , 'assets/images/founder-8.jpeg')"
           class="slide m-auto">
        <img src="assets/images/founder-8.jpeg"/>
        <h2 class="text-light fst-italic fw-bolder text-truncate">Capt. Karim Hasab El-Nabi Mohamed</h2>
        <h3 class="text-light text-truncate">COO, Allianz Stanford Marine</h3>
      </div>
    </ng-template>
  </owl-carousel-o>
</section>
<div class="hr text-second-color"></div>
<section id="contact-us" class="container mt-5">
  <div class="row">
    <div class="col-12 d-md-flex d-lg-block align-items-center p-4 justify-content-center">
      <h1 class="text-white text-header fw-bolder mb-4 space-lines ">{{"Get Ready" | uppercase}}</h1>
    </div>
    <div class="col-md-6">
      <h2
        class="text-white mb-0 ms-3">{{'It seems you are interested, please submit your inquiry via the following means:' | uppercase}}</h2>
      <h2 class="text-white mb-0 ms-3">Email : <a href="mailto:pr@seascopemena.com">pr@seascopemena.com</a></h2>
      <img [src]="asset('icons/social/facebook.png')" width="50" height="50" alt="facebook">
      <img [src]="asset('icons/social/instagram.png')" width="50" height="50" alt="instagram">
      <img [src]="asset('icons/social/twitter.png')" width="50" height="50" alt="twitter">
      <a href="https://wa.me/971554147882">
        <img [src]="asset('icons/social/whatsapp.png')" width="50" height="50"
             alt="whatsapp">
      </a>
      <img [src]="asset('icons/social/LinkedIn.png')" width="50" height="50" alt="linkedIn">
    </div>
    <div class="col-md-6 text-center d-none d-md-block">
      <img [src]="asset('images/phone.png')" style="position: relative; bottom: 7.5vh; left: 1.2vw" alt="phone_icon"
           height="300">
    </div>
  </div>
</section>
<footer class="footer">
  {{ 'YOUR ALL - IN - ONE SOLUTION FOR MARITIME BUSINESS EXCELLENCE' | uppercase}}
</footer>

<!--
@Copyrights Abdelrahman Ahmed
@Version 1.0.0
@Date 2023-06-20
@License All Rights Reserved
@Email : Abdeelrhman.11@gmail.com
@Phone : +201144473299
@Github : AbdelrhmanAh7
@LinkedIn : https://www.linkedin.com/in/abdelrhman-ahmed-b3913019b/
-->
