<nav class="navbar bg-default position-sticky w-100">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{{ asset('images/logo.png') }}" alt="logo" class="logo" width="100" height="24">
    </a>
  </div>
</nav>
<header>
  <video loop muted autoplay oncanplay="this.play()" onloadedmetadata="this.muted = true" class="h-75 w-100">
    <source src="{{ asset('video/intro.mp4') }}" type="video/mp4">
  </video>
</header>
<section class="overflow-x-hidden">
  <div class="row justify-content-center">
    <div class="col-lg-3 col-md-4 d-flex align-items-center p-4 justify-content-center">
      <h1 class="text-white fw-bolder text-header space-lines">{{'Key Differentiators' | uppercase}}</h1>
    </div>
    <ng-container *ngFor="let service of services">
      <div *ngIf="!!service?.image" class="col-lg-3 col-md-4 bg-image-fit p-5">
        <img [src]="service?.image" class="w-100 h-100" alt="">
      </div>
      <div
        *ngIf="!service?.image"
        [style.background-image]="'url(' + service?.backgroundImagePath + ')'"
        (click)="openModal(service)"
        class="col-lg-3 col-md-4 bg-image-fit p-0"
      >
        <div class="w-100 h-100" [style.background-color]="service?.backgroundColor">
          <div class=" p-5">
            <div class="row text-center my-5">
              <div class="col-12">
                <img [src]="service?.iconPath" [title]="service?.name" [alt]="service?.name" style="width: 50%">
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <h2 class="text-center text-white">{{ service?.name | uppercase }}</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</section>
<div class="hr text-second-color"></div>
<section class="container mt-5">
  <div class="row">
    <div class="col-12 d-md-flex d-lg-block align-items-center p-4 justify-content-center">
      <h1 class="text-white text-header fw-bolder mb-4 space-lines ">{{"Get Ready" | uppercase}}</h1>
    </div>
    <div class="col-md-6">
      <h2
        class="text-white mb-0 ms-3">{{'It seems you are interested, please submit your inquiry via the following means:' | uppercase}}</h2>
      <h2 class="text-white mb-0 ms-3">Email : <a href="mailto:pr@seascopemena.com">pr@seascopemena.com</a></h2>
      <img [src]="asset('icons/social/facebook.png')" width="50" height="50" alt="facebook">
      <img [src]="asset('icons/social/instagram.png')" width="50" height="50" alt="instagram">
      <img [src]="asset('icons/social/twitter.png')" width="50" height="50" alt="twitter">
      <a href="https://wa.me/971554147882">
        <img [src]="asset('icons/social/whatsapp.png')" width="50" height="50"
             alt="whatsapp">
      </a>
      <img [src]="asset('icons/social/LinkedIn.png')" width="50" height="50" alt="linkedIn">
    </div>
    <div class="col-md-6 text-center d-none d-md-block">
      <img [src]="asset('images/phone.png')" style="position: relative; bottom: 7.5vh; left: 1.2vw" alt="phone_icon"
           height="300">
    </div>
  </div>
</section>
<footer class="footer">
  {{ 'YOUR ALL - IN - ONE SOLUTION FOR MARITIME BUSINESS EXCELLENCE' | uppercase}}
</footer>

<!--
@Copyrights Abdelrahman Ahmed
@Version 1.0.0
@Date 2023-06-20
@License All Rights Reserved
@Email : Abdeelrhman.11@gmail.com
@Phone : +201144473299
@Github : AbdelrhmanAh7
@LinkedIn : https://www.linkedin.com/in/abdelrhman-ahmed-b3913019b/
-->
